.filtersBox {
    height: 170px;
    background: #E5E5E5;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
    margin: 0 auto;
    max-width: 1620px;
}

.title {
    font-size: 3rem;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 1630px) {
    .filtersBox {
        padding: 20px;
    }
}
