.headerBox {
    background: #000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1620px;
    height: 85px;
    color: #fff;
}

.logo {
    font-size: 3.5rem;
    font-weight: 500;
}

@media (max-width: 1630px) {
    .headerBox {
        padding: 20px;
    }
}

