form {
    display: flex;
}

input {
    width: 280px;
    padding: 5px;
    font-size: 1.6rem;
    border: none;
}

input:focus {
    outline:none;
}

input::placeholder {
    font-size: 1.5rem;
    opacity: 80%;
}

.button {
    font-size: 1.6rem;
    margin-left: 15px;
    height: 35px;
    padding: 7px 22px;
}