.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #D90429;
    border: none;
    text-transform: uppercase;
    transition-duration: .3s;
    cursor: pointer;
}

.btn:hover {
    background: #ef233c;
}

.btn:active {
    transform: scale(.9);
}

.link {

}
